@media (min-width: 700px) {
  body {
    position: relative;
  }

  #mus_container {
    width: 12%;
    aspect-ratio: 2/1;
    position: absolute;
  }

  #mus_sprite {
    background-image: url("mus.svg");
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .flyv {
    animation-name: flyv_kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }

  @keyframes flyv_kf {
    0% {
      transform: translateX(750%);
    }

    100% {
      transform: translateX(-400%);
    }
  }
}
