header {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  height: fit-content;
  align-items: center;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header_kategori.shown {
  display: contents;
}

.header_kategori ul {
  display: none;
}

.header_kategori.shown ul {
  border-top: 1px solid #000;
  padding-top: 1rem;
  row-gap: 1rem;
  display: flex;
  flex-flow: column;
  flex-basis: 100%;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-block: 1rem;
  width: 90%;
  margin-inline: auto;
}
.tema2,
.tema3,
.tema4,
.tema5,
.tema6,
.cv {
  display: grid;
  place-items: center;
  background-size: cover;
  background-color: #354f52;
  border-radius: 10px;
  border: 3px solid black;
  position: relative;
}

.grid_1_1 img {
  border-radius: 10px 10px 0px 0px;
}
.tema3 img {
  border-radius: 7px 7px 0px 0px;
}
.tema_beskrivelse {
  margin-inline: 4%;
}
.tema_beskrivelse img {
  margin-block-end: 2rem;
}
.tema2_opgaver {
  display: grid;
  gap: 10px;
  padding-block: 30px;
}

.tema2_opgaver h3,
.tema2_opgaver p,
.tema2_opgaver a {
  margin-inline: 50px;
}

.tema2_opgaver h3 {
  margin-block-start: 20px;
}
.tema2_galleri {
  margin-inline: 4%;
}
.tema2_galleri img {
  margin-block: 20px;
  aspect-ratio: 17/10;
  object-fit: cover;
}

.tema3_opgavebeskrivelse h3 {
  margin-block-end: 20px;
}

.færdigheder li {
  font-weight: 600;
  margin-inline: auto;
}
.færdigheder,
.færdigheder h3 {
  background-color: #354f52;
  color: rgb(236, 225, 225);
  text-align: center;
  padding-block: 10px;
}
.list_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block: 20px;
  gap: 10px;
}

.valg_af_uddannelse {
  margin-block: 30px;
  margin-inline: 4%;
}


@media (min-width: 700px) {
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-block: 1rem;
    width: 95%;
  }
  .tema3_opgavebeskrivelse h3 {
    margin-inline: 50px;
  }
  .tema3_opgavebeskrivelse {
    display: flex;
    flex-direction: column;
  }
  /* dette er burgermenu knappen som forsvinder over 700px */
  .toggle-btn {
    display: none;
  }
  .header_kategori.shown {
    display: none;
  }
  .header_kategori ul {
    display: flex;
padding-inline-end: 2rem;
  }

  .tema_beskrivelse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-block: 2rem;
  }

  .tema_beskrivelse img {
    aspect-ratio: 2/1;
    object-fit: cover;
  }
  .tema2_opgaver {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }

  .tema2_galleri {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
  }
  .tema2_website,
  .tema2_emnesite {
    display: flex;
    flex-direction: column;
  }
  .tema2_website a,
  .tema2_emnesite a {
 margin-top: auto;
  }
  .tema3_faser {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-block: 2rem;
  }
  .tema3_faser img {
    aspect-ratio: 3/2;
    object-fit: cover;
    inline-size: 100%;
    width: 85%;
  }
  .fase1,
  .fase2,
  .fase3 {
    display: flex;
    flex-direction: column;
  }
  .fase1 > :last-child,
  .fase2 > :last-child,
  .fase3 > :last-child {
    margin-top: auto;
  }
  .tema4_figurdesign {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .tema4_figurdesign img {
    aspect-ratio: 4/2;
    object-fit: cover;
  }
  .tema4_animation_javascript {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-block: 5rem;
  }

  .img_order {
    order: -1;
    object-fit: cover;
  }
  .tema5_redesign_faser {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .om_mig {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 60px;
    align-items: center;
  }
  .img_order4 {
    order: 1;
  }
  .cv_overskrift {
    text-align: left;
  }
  .cv_overskrift:nth-child(1) {
    font-size: 3rem;
    line-height: 1;
    margin-top: 10px;
  }
  .cv_overskrift:nth-child(2) {
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 1;
  }
  .fremtidsplaner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    margin-inline: auto;
    margin-block-end: 2rem;
    margin-inline: 4%;
  }
  .valg_af_uddannelse {
    margin: auto;
  }
  .færdigheder {
    padding-inline: 10px;
  }
  .tema6_forarbejde{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
  }
  .img_order5{
    order: -1;
  }
  .tema6_kodning{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    margin-block: 3rem;
  }
}
@media (min-width: 1000px) {
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-block: 1rem;
  }
}
