header {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  height: fit-content;
  align-items: center;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header_kategori.shown {
  display: contents;
}

.header_kategori ul {
  display: none;
}

.header_kategori.shown ul {
  border-top: 1px solid #000;
  padding-top: 1rem;
  row-gap: 1rem;
  display: flex;
  flex-flow: column;
  flex-basis: 100%;

}


.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-block: 0.8rem;
}
.tema2,
.tema3,
.tema4,
.tema5 {
  display: grid;
  place-items: center;
  background-size: cover;
  background-color: #354f52;
  border-radius: 10px;
  border: 3px solid black;
  position: relative;
}

.grid_1_1 img {
  border-radius: 10px 10px 0px 0px;
}
.tema3 img{
border-radius: 7px 7px 0px 0px;
}

@media (min-width: 700px) {
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-block: 1rem;
  }

  /* dette er burgermenu knappen som forsvinder over 700px */
  .toggle-btn {
    display: none;
  }
  .header_kategori.shown {
    display: none;
  }
  .header_kategori ul {
    display: flex;
  }
}
