* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.6;
  font-size: medium;
}
main {
  width: 95%;
  max-width: 1200px;
  margin-inline: auto;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
header {
  background-color: black;
  padding-block: 1rem;
}
footer {
  background-color: black;
  padding-block: 3rem;
}

p {
  max-width: 70ch;
}

header img {
  margin-inline-start: 1rem;
}
nav a,
button {
  padding: 1.4rem;
  text-decoration: none;
  color: rgb(236, 225, 225);
  font-family: gill-sans-nova;
  font-weight: 500;
  font-size: large;
  background-color: transparent;
  border: none;
}

button {
  font-size: x-large;
}
li {
  list-style: none;
}
nav a:hover {
  font-weight: 800;
}

a {
  text-decoration: none;
}
.forside_tekst {
  margin-block-start: 1rem;
  margin-block-end: 2rem;
}
.forside_tekst p {
  max-width: 75ch;
}
.grid_1_1 h2,
.grid_1_1 h3 {
  text-align: center;
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(236, 225, 225);
}

.grid_1_1 h2 {
  font-size: 3rem;
}
.grid_btn {
  padding: 1rem;
}
.grid_btn a {
  text-decoration: none;
  color: rgb(236, 225, 225);
  font-family: gill-sans-nova;
  font-weight: 500;
  font-size: large;
  border: 2px solid rgb(236, 225, 225);
  border-radius: 15px;
  padding-inline: 15px;
}

.grid_btn:hover a {
  transform: scale(1.02);
  font-weight: 700;
}
.tema_beskrivelse p {
  padding-bottom: 20px;
}

.tema2_opgaver {
  background-color: #354f52;
}
.tema2_opgaver h3 {
  text-align: left;
  color: rgb(236, 225, 225);
}
.tema2_opgaver a {
  color: rgb(236, 225, 225);
  font-weight: 700;
}

.tema2_opgaver p {
  padding-bottom: 20px;
  max-width: 70ch;
  color: rgb(236, 225, 225);
}

.tema_knap a {
  text-decoration: none;
  color: rgb(236, 225, 225);
  font-family: gill-sans-nova;
  font-weight: 400;
  font-size: large;
  border: 2px solid rgb(236, 225, 225);
  border-radius: 15px;
  padding-inline: 15px;
}
.tema_knap:hover {
  transform: scale(1.02);
  font-weight: 700;
}

.tema3_opgavebeskrivelse {
  background-color: #354f52;
}
.tema3_opgavebeskrivelse p,
.tema3_opgavebeskrivelse h3 {
  color: rgb(236, 225, 225);
  margin-inline: 50px;
}
.tema3_opgavebeskrivelse a {
  margin-inline: 25px;
}
.tema3_faser h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.tema3_faser img {
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (min-width: 700px) {
  .forside_tekst p {
    text-align: center;
    margin: auto;
  }
  h1,
  h2 {
    text-align: center;
  }
  .tema_beskrivelse p {
    max-width: 75ch;
  }
  .tema_beskrivelse h1,
  h2 {
    text-align: start;
  }

  .tema3_opgavebeskrivelse p,
  .tema3_opgavebeskrivelse h3 {
    text-align: center;
    margin: auto;
  }

  .tema3_faser h3,
  .tema3_faser p,
  .tema3_faser img {
    margin-inline: 20px;
  }
  .tema3_faser img {
    margin-top: 50px;
  }

  .fase3 p {
    margin-bottom: 3rem;
  }
}
